<div class="center jumbotron">
   <h1>Chazmatic Home Page</h1>
   <h2>The greatest Ruby innovation since the Breadslicer gem</h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>  